#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #396E94;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: white;
}

header {
    background-color: rgb(250, 187, 0);
}

nav a:hover {
    background-color:#022668;
    color: rgb(250, 187, 0);
}

.book, .join {
    background-color: #CF3628 ;
    color: #0805ac;
    text-decoration: none;
}

.book, .join:hover {
    background-color: #0805ac;
    color: #f0c808;
}

#background {
    background-color:#CF3628;
}

.msg {
    background-color: #CF3628;
}
footer {
    background-color: #d62323;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: #022668;
}

h4 {
    color: #0805ac;
}

.home-title {
    color: #0805ac;
}

.msg h2 {
    color: #CF3628;
}

.msg p {
    color: rgb(250, 187, 0);
}

.msgh2 {
    color: #0805ac;
}

.msg p {
    color: #0805ac;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100px;
}